---
---

<div class="post-header-home">
  <h1 class="post-title-home">
    Mirantis OpenStack Related Articles
  </h1>
  <br/>
    {% for post in site.posts %}
    {% if post.tags contains 'mirantis' %}
    <h2 class="post-title-home">
      <a href="{{ post.url | prepend:site.baseurl }}">{{ post.title }}</a>
    </h2>
    <div class="post-excerpt-home">
      {{ post.excerpt }}
      <p class="text-right"><a href="{{ post.url | prepend:site.baseurl }}">Continue Reading &rarr;</a></p>
    </div>
    {% endif %}
  {% endfor %}
</div>
